@import '../../style/variables';

.wrapper {
  width: 100%;
  max-width: 500px;
  color: $default-border-color;
  position: relative;

  :global {
    .icon {
      position: absolute;
      font-size: 20px;
      top: 7px;
      right: 5px;
    }
  }
}
